absl-py==0.12.0
altgraph==0.17
asgiref==3.3.4
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
decorator==5.0.7
defusedxml==0.7.1
Django==3.2
entrypoints==0.3
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.29.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
ldap3==2.9
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib @ file:///C:/Users/Sony/Desktop/matplotlib-3.4.1-cp38-cp38-win_amd64.whl
matplotlib-inline==0.1.2
mistune==0.8.4
mpmath==1.2.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pandas @ file:///C:/Users/Sony/Desktop/pandas-1.2.4-cp38-cp38-win_amd64.whl
pandocfilters==1.4.3
parso==0.8.2
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
protobuf==3.15.8
psutil==5.8.0
psycopg2==2.8.6
py-postgresql==1.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydirectory==0.1.15
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
pywin32==300
pywin32-ctypes==0.2.0
pyzmq==22.0.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.3
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
secure-smtplib==0.1.1
six==1.15.0
sqlparse==0.4.1
sympy==1.8
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2021.8.30
tornado==6.1
traitlets==5.0.5
ttkbootstrap==0.5.1
ttkthemes==3.2.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
wxPython==4.1.1
